*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  padding-bottom: 2rem;
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 120rem;
}

button::-moz-focus-inner {
  border: 0;
}
