.register {
  &__cta {
    background-color: $color-off-white;
    padding: 2rem;
  }

  &__return {
    position: fixed;
    top: 80%;
    right: 0;

    &--btn {
      outline: none;
      border: none;
      height: 5rem;
      padding: 1rem 2rem;
      padding-left: 5rem;
      background: linear-gradient(
        135deg,
        white 3.2rem,
        $color-og-gold,
        $color-og-gold 3.2rem
      );
      color: white;

      &:hover {
        cursor: pointer;
        background: linear-gradient(
          135deg,
          white 3.2rem,
          $color-light-green,
          $color-light-green 3.2rem
        );
      }
    }
  }

  &__form {
    margin-top: 3rem;
    display: block;
    width: 100%;
    min-height: 120rem;
  }
}
