.contact {
  &__info {
    color: $color-dark-green;
    font-size: 3rem;

    @include respond(phone) {
      font-size: 2rem;
    }
  }

  &__hero {
    margin-top: 2rem;
    text-align: center;
  }
}
