.event {
  margin-top: $default-margin-top;

  &__title {
    color: $color-dark-green;
    font-size: 4rem;

    @include respond(phone) {
      font-size: 3rem;
    }
  }

  &__banner {
    margin: 1rem 0;
    display: flex;
    justify-content: space-around;
  }

  &__img {
    // max-width: 32%;
    height: auto;
    border-radius: 3px;
    flex: 1;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__performances {
    margin-top: $default-margin-top;
    // box-shadow: $default-box-shadow;

    &-title {
      color: $color-dark-green;
      padding: 1rem 0;
      font-size: 3rem;

      @include respond(phone) {
        font-size: 2.4rem;
      }
    }
  }
}
