.performance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid $color-dark-green;
  border: 2px solid transparent;
  border-radius: 3px;
  // margin-top: 3rem;
  min-height: 8rem;
  padding-left: 1rem;
  background-color: $bg-light-green;

  &:hover {
    min-height: 8rem;
    border: 2px solid $color-dark-green;
    padding-left: 1rem;
  }

  &__details {
    width: 50% !important;
  }

  &--directions {
    margin: 0 1rem;
  }

  &__date-time {
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 25%;
    // border: 1px dashed red;
  }

  &__venue-details {
    font-size: 1.6rem;
  }

  &__ticket-link {
    width: 20%;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 1rem;
    text-decoration: none;
    background-color: $color-light-green;
    color: white;
    text-align: center;

    &--outline {
      width: 20%;
      padding: 1rem 2rem;
      border-radius: 3px;
      margin-right: 1rem;
      text-decoration: none;
      background-color: $color-white;
      color: $color-dark-green;
      text-align: center;
      border: 1px solid $color-dark-green;
    }
  }
}
