.performance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 3px;
  min-height: 8rem;
  padding: 1rem;
  background-color: $bg-light-green;

  @include respond(phone) {
    justify-content: center;
    margin-bottom: 1rem;
    border: 1px solid $color-dark-green;
    flex-direction: column;
    font-size: 1.6rem;
  }

  &:hover {
    min-height: 8rem;
    border: 2px solid $color-dark-green;

    @include respond(phone) {
      border: 1px solid $color-dark-green;
    }
  }

  &--directions {
    margin: 0 1rem;
  }

  &__details {
    width: 50% !important;
    display: flex;
    flex-direction: column;

    @include respond(phone) {
      width: 100% !important;
    }
  }

  &__venue-details {
    font-size: 1.6rem;
  }

  &__group {
    display: flex;
    flex-direction: column;
    width: 25%;

    @include respond(tab-port) {
      font-size: 1.8rem;
    }

    @include respond(phone) {
      width: 100%;
      font-size: 1.6rem;
      // margin-bottom: 1rem;
    }
  }

  &__location {
    @include respond(phone) {
      font-weight: bold;
    }
  }

  &__ticket-link {
    width: 20%;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 1rem;
    text-decoration: none;
    background-color: $color-light-green;
    color: white;
    text-align: center;

    @include respond(phone) {
      margin-top: 1rem;
      margin-right: 0;
      width: 100%;
    }

    &--outline {
      width: 20%;
      padding: 1rem 2rem;
      border-radius: 3px;
      margin-right: 1rem;
      text-decoration: none;
      background-color: $color-white;
      color: $color-dark-green;
      text-align: center;
      border: 1px solid $color-dark-green;

      @include respond(phone) {
        margin-top: 1rem;
        margin-right: 0;
        width: 100%;
      }
    }
  }
}
