.performance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // border: 1px solid $color-dark-green;
  border: 2px solid transparent;
  border-radius: 3px;
  // margin-top: 3rem;
  min-height: 8rem;
  padding-left: 1rem;
  background-color: $bg-light-green;

  &:hover {
    min-height: 8rem;
    border: 2px solid $color-dark-green;
    padding-left: 1rem;
  }

  &--item {
    width: 30%;
  }

  &__date-time {
    width: 30%;
  }

  &__venue {
    width: 50%;
  }

  &__ticket-link {
    width: 20%;
    padding: 1rem 2rem;
    border-radius: 3px;
    margin-right: 1rem;
    text-decoration: none;
    background-color: $color-light-green;
    color: white;
    text-align: center;
  }
}
