.video {
  margin-top: 3rem;
  text-align: center;
  padding: 3rem;

  &__iframe {
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: $default-box-shadow;
    height: 50rem;
    width: 89.1rem;

    @include respond(phone) {
      width: 40rem;
      height: 22.2rem;
    }
  }
}
