.header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
  z-index: 1000;
  // border: 1px dashed red;

  &__logo {
    height: 8rem;
    width: auto;
    // border: 1px dashed red;

    @include respond(tab-med) {
      height: 8rem;
    }

    @include respond(tab-port) {
      height: 7rem;
      margin: 0 auto;
    }
    @include respond(phone) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__nav {
    &--right {
      // text-align: right;
      color: $color-light-green;

      @include respond(tab-med) {
        font-size: 2.5rem;
      }

      @include respond(tab-port) {
        display: none;
      }
    }
  }
}
