.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @include respond(tab-med) {
    text-align: center;
  }

  @include respond(phone) {
    flex-direction: column;
    position: fixed;
    bottom: 0;
    z-index: 20;
    background-color: rgba(#333, 0.9);
    width: 100%;
  }

  &__link {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.8rem;
    color: $default-font-color;
    transition: color 0.2s;
    padding: 1rem;

    // @include respond(tab-med) {
    //   text-align: center;
    //   font-size: 2rem;
    // }

    // @include respond(tab-port) {
    //   font-size: 1.8rem;
    // }

    @include respond(phone) {
      // text-align: center;
      font-size: 1.6rem;
      color: $color-white;
    }

    &:hover {
      // text-decoration: underline;
      color: $color-dark-green;

      @include respond(phone) {
        text-decoration: none;
        color: $color-white;
      }
    }
  }
}
