.nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  @include respond(tab-med) {
    text-align: center;
  }

  &__link {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 1.8rem;
    color: $default-font-color;
    transition: color 0.2s;
    padding: 1rem;

    // @include respond(tab-med) {
    //   text-align: center;
    //   font-size: 2rem;
    // }

    // @include respond(tab-port) {
    //   font-size: 1.8rem;
    // }

    @include respond(phone) {
      // text-align: center;
      font-size: 1.5rem;
    }

    &:hover {
      // text-decoration: underline;
      color: $color-dark-green;
    }
  }
}
