@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  padding-bottom: 2rem;
}

body {
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 120rem;
}

button::-moz-focus-inner {
  border: 0;
}

a {
  color: #385600;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-size: 2rem;
}

.u-left-align {
  text-align: left !important;
}

.u-sm-margin-top {
  margin-top: 1rem !important;
}

.u-italic {
  font-style: italic;
  font-size: 1.6rem;
}

.u-section-break {
  margin-bottom: 8rem;
}
.u-section-break--small {
  margin-bottom: 5rem;
}

.u-subtitle {
  font-size: 2.4rem;
}

.u-bold {
  font-weight: bold;
}

.u-padding {
  padding: 1rem !important;
  border-radius: 3px !important;
}

.about__title {
  color: #385600;
  margin: 1rem 0;
}

.about__blurb {
  word-spacing: 1px;
  text-align: justify;
}

.class {
  margin-top: 2rem;
}
.class__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}
@media only screen and (max-width: 37.5em) {
  .class__info {
    width: 100%;
  }
}
.class__info--class {
  width: 55rem;
}
.class__title {
  font-weight: bold;
  color: #385600;
}

.event {
  margin-top: 2rem;
}
.event__title {
  color: #385600;
  font-size: 4rem;
}
.event__banner {
  margin: 1rem 0;
  display: flex;
  justify-content: space-around;
}
.event__img {
  height: auto;
  border-radius: 3px;
  flex: 1;
}
.event__img:not(:last-child) {
  margin-right: 0.5rem;
}
.event__performances {
  margin-top: 2rem;
}
.event__performances-title {
  color: #385600;
  padding: 1rem 0;
  font-size: 3rem;
}

.hero__img {
  width: 100%;
  border-radius: 3px;
}
.hero__img--small {
  width: 50%;
}

.performance {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 3px;
  min-height: 8rem;
  padding-left: 1rem;
  background-color: rgba(115, 140, 49, 0.07);
}
.performance:hover {
  min-height: 8rem;
  border: 2px solid #385600;
  padding-left: 1rem;
}
.performance__details {
  width: 50% !important;
}
.performance--directions {
  margin: 0 1rem;
}
.performance__group {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.performance__venue-details {
  font-size: 1.6rem;
}
.performance__ticket-link {
  width: 20%;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin-right: 1rem;
  text-decoration: none;
  background-color: #738c31;
  color: white;
  text-align: center;
}
.performance__ticket-link--outline {
  width: 20%;
  padding: 1rem 2rem;
  border-radius: 3px;
  margin-right: 1rem;
  text-decoration: none;
  background-color: #fff;
  color: #385600;
  text-align: center;
  border: 1px solid #385600;
}

.under-construction {
  text-align: center;
}
.under-construction__img {
  margin: 5rem;
}

.video {
  margin-top: 3rem;
  text-align: center;
  padding: 3rem;
}
.video__iframe {
  margin: 0 auto;
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  height: 50rem;
  width: 89.1rem;
}
@media only screen and (max-width: 37.5em) {
  .video__iframe {
    width: 40rem;
    height: 22.2rem;
  }
}

.footer {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  padding: 2rem;
}
.footer__container {
  margin-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__text {
  color: #cc9900;
  letter-spacing: 1px;
  font-size: 2.3rem;
}
.footer__logo {
  display: inline-block;
}

.header {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 0;
  z-index: 1000;
}
.header__logo {
  height: 8rem;
  width: auto;
}
@media only screen and (max-width: 65.625em) {
  .header__logo {
    height: 8rem;
  }
}
@media only screen and (max-width: 56.75em) {
  .header__logo {
    height: 7rem;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    width: 100%;
    margin: 0 auto;
  }
}
.header__nav--right {
  color: #738c31;
}
@media only screen and (max-width: 65.625em) {
  .header__nav--right {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 56.75em) {
  .header__nav--right {
    display: none;
  }
}

.nav {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 65.625em) {
  .nav {
    text-align: center;
  }
}
.nav__link {
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.8rem;
  color: #333;
  transition: color 0.2s;
  padding: 1rem;
}
@media only screen and (max-width: 37.5em) {
  .nav__link {
    font-size: 1.5rem;
  }
}
.nav__link:hover {
  color: #385600;
}

.page__title {
  color: #385600;
}

.page__cta {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  margin: 3rem auto;
}
.page__cta--button {
  display: inline-block;
  padding: 1.5rem 5rem;
  background-color: #738c31;
  color: white;
  font-size: 3rem;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.2s;
}
.page__cta--button:hover {
  background-color: #385600;
}

.harp-camp__hero {
  height: 50rem;
  background-image: url('/src/assets/IMG_2146.jpg');
  background-size: cover;
  background-position: 0 -3rem;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 65.625em) {
  .harp-camp__hero {
    background-position: 0 -3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .harp-camp__hero {
    background-position: center;
  }
}

.harp-camp__description {
  background-color: #e8e7e7;
  padding: 3rem;
}

.harp-camp__title {
  text-align: center;
  color: #738c31;
  margin-bottom: 2rem;
}

.harp-camp__summary {
  text-align: center;
  padding: 0 15rem;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .harp-camp__summary {
    padding: 0 2rem;
  }
}

.harp-camp__info {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 56.75em) {
  .harp-camp__info {
    flex-direction: column;
    align-items: center;
  }
}
@media only screen and (max-width: 37.5em) {
  .harp-camp__info {
    padding: 0;
  }
}

.harp-camp__class {
  padding: 2rem 3.5rem;
  text-align: left;
  width: 45%;
}
@media only screen and (max-width: 56.75em) {
  .harp-camp__class {
    width: 90%;
  }
}
@media only screen and (max-width: 37.5em) {
  .harp-camp__class {
    padding: 2rem 0;
  }
}
.harp-camp__class--img {
  width: 100%;
}
.harp-camp__class--blurb {
  font-size: 1.7rem;
}

.harp-camp__cta {
  text-align: center;
}

.harp-camp__register-btn {
  border: none;
  background-color: #385600;
  padding: 1rem 3rem;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  transition: background-color 0.3s;
  border-radius: 2px;
  margin: 1rem;
}
.harp-camp__register-btn:hover {
  cursor: pointer;
  background-color: #738c31;
}

.harp-camp__workshops {
  padding: 3rem;
}
.harp-camp__workshops--row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 1rem;
}
.harp-camp__workshops--title-container {
  margin-right: 2rem;
  width: 30%;
}
.harp-camp__workshops--title-container > h4 {
  text-align: right;
}
.harp-camp__workshops--text-container {
  width: 60%;
  text-align: left;
}

.harp-camp__faq {
  margin-top: 3rem;
  background-color: #e8e7e7;
  padding: 3rem;
}
@media only screen and (max-width: 37.5em) {
  .harp-camp__faq {
    padding: 3rem 0;
  }
}
.harp-camp__faq--row {
  margin: 2rem;
  margin-top: 3rem;
}
.harp-camp__faq--blurb {
  margin: 0 auto;
  text-align: center;
  width: 50%;
  font-size: 2rem;
}
@media only screen and (max-width: 37.5em) {
  .harp-camp__faq--blurb {
    width: 80%;
  }
}

.harp-camp__success {
  padding: 3rem;
  text-align: center;
  background-color: #e8e7e7;
}
.harp-camp__success a {
  display: inline-block;
  margin-top: 2rem;
}

.register__cta {
  background-color: #e8e7e7;
  padding: 2rem;
}

.register__return {
  position: fixed;
  top: 80%;
  right: 0;
}
.register__return--btn {
  outline: none;
  border: none;
  height: 5rem;
  padding: 1rem 2rem;
  padding-left: 5rem;
  background: linear-gradient(135deg, white 3.2rem, #cc9900, #cc9900 3.2rem);
  color: white;
}
.register__return--btn:hover {
  cursor: pointer;
  background: linear-gradient(135deg, white 3.2rem, #738c31, #738c31 3.2rem);
}

.register__form {
  margin-top: 3rem;
  display: block;
  width: 100%;
  min-height: 120rem;
}

.payment {
  margin: 0 auto;
  width: 100%;
  padding: 5rem;
  text-align: center;
  background-color: #e8e7e7;
}
.payment__instructions {
  margin: 0 auto;
}
.payment__form {
  margin: 0 auto;
  margin-top: 3rem;
  border: 1px solid #333;
  padding: 2rem;
  padding-top: 3rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.payment__form > * {
  margin-top: 2rem;
}
